{{ template "partials/header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<div id='side-menu'>
<nav>
<span id="name">Local Minimum</span>
<span id='nav-icons'>
	<a href="{{.Site.BaseUrl}}"><img src="img/m_ico_home.png"></a>
	<a href="games"><img src="img/m_ico_games.png"></a>
	<a href="about"><img src="img/m_ico_about.png"></a>
	<a href="http://www.unknownincubator.com"><img src="img/m_ico_ui.png"></a>
</span>
</nav>
</div>

<section id="main">
  <h1 id="title">{{if .Section}}<span class='section-name'>{{ upper .Section }}</span>{{ end }}{{ .Title }}</h1>
  <div>
        <article id="content">
			<section>
			<h4 class="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
			</section>
			{{if isset .Params "series" }}
			<section id="series">
			<h4 class="taxon-header">Part of series</h4>
			<ul class='taxon'>
				{{ range .Params.series}}
				<li> {{ title . }} </li>
				{{ end }}
			</ul>
			</section>
			{{ end }}
			<section id='text'>
            {{ .Content }}
			</section>
			<section id="technical">
			{{if isset .Params "languages" }}
			<h4 class="taxon-header">Languages</h4>
			<ul class='taxon'>
				{{ range .Params.languages }}
					<li> {{ title . }} </li>
				{{ end }}
			</ul>
			{{ end }}
			{{if isset .Params "tools" }}
			<h4 class="taxon-header">Tools</h4>
			<ul class='taxon'>
				{{ range .Params.tools}}
					<li> {{ title . }} </li>
				{{ end }}
			</ul>
			{{ end }}
			</section>
        </article>
  </div>
</section>

{{if isset .Params "project_url" }}
<div id="ribbon">
	{{ if isset .Params "stage" }}
	<span class="dev-stage">{{.Params.stage}}</span>
	{{ end }}
	{{ range $index, $value := .Params.project_url}}
		{{ $odd := mod $index 2}}
		{{if $odd }}
			{{ $value }}</a></span>
		{{ else }}
			<span class="link"><a href="{{ $value }}" rel="me">
		{{ end }}
	{{ end }}
</div>
{{ end }}

{{ template "partials/footer.html" . }}
