{{ template "partials/header.html" . }}
{{ template "partials/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<section id="main">
  <h1 id="title"><span class='section-name'>{{ upper .Section }}:</span>{{ .Title }}</h1>
  <div>
        <article id="content">
			<section>
			<h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
			</section>
			{{if isset .Params "series" }}
			<section>
			<h4 class="list-header">Part of series</h4>
			<ul id="series">
				{{ range .Params.series}}
					<li> <a href="{{ $baseurl }}/series/{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
			</section>
			{{ end }}
            {{ .Content }}
			<section id="technical">
			{{if isset .Params "languages" }}
			<h4 class="list-header">Languages</h4>
			<ul id="langages">
				{{ range .Params.languages }}
					<li> <a href="{{ $baseurl }}/languages/{{ . | urlize }}">{{ title . }}</a> </li>
				{{ end }}
			</ul>
			{{ end }}
			{{if isset .Params "tools" }}
			<h4 class="list-header">Tools</h4>
			<ul id="tools">
				{{ range .Params.tools}}
					<li> <a href="{{ $baseurl }}/tools/{{ . | urlize }}">{{ title . }}</a> </li>
				{{ end }}
			</ul>
			{{ end }}
			</section>
        </article>
  </div>
</section>

{{if isset .Params "project_url" }}
<div id="ribbon">
	{{ if isset .Params "stage" }}
	<span id="dev-stage">{{.Params.stage}}</span>
	{{ end }}
    <a href="{{ index .Params "project_url" }}" rel="me">{{ index .Params "project_url" }}</a>
</div>
{{ end }}

{{ template "partials/footer.html" . }}
